.card {
    align-items: center;
    transition: 0.8s;
    border: 1px solid black;
    margin-right: 10px;
}

.card:hover {
    transform: scale(1.05);
    transition: 0.8s;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card-img-top {
    width: 60%;
}

.wrapper {
    padding: 0px 30px;
    padding-bottom: 40px;
}

.news__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    flex-direction: column;
}

.news__img {
    max-width: 40vw;
}

.bottom-info {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.updated-at {
    margin: 0;
}

@media (max-width: 768px) {
    .news__block {
        flex-direction: column;
    }

    .news__img {
        max-width: 90%;
    }
}

@media (min-width: 576px) {
    .card-group > .card + .card {
        margin-left: 0;
        border-left: 1px solid black;
    }
}
